<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>detail</title>
    <link rel="stylesheet" href="<%=hdmain%>/css/swiper.min.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/common.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/detail.css">
    <script src="<%=hdmain%>/js/jquery-3.3.1.min.js"></script>
    <script src="<%=hdmain%>/js/swiper.min.js"></script>
    <script src="<%=hdmain%>/js/detail.js"></script>
</head>

<body>
    00000
    <%include header.html %>
        <div class="content">
            <div class="detail-wrapper">
                <div class="detail-box">
                    <a class="detail-back" href="product.html">
          &lt;&lt; 返回产品列表
        </a>
                    <div class="detail-content">
                        <div class="detail-preview">
                            <div class="swiper-container detail-gallery-top">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/product.png)"></div>
                                </div>
                                <!-- No Arrows -->
                                <!-- <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div> -->
                            </div>
                            <div class="swiper-container detail-gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                    <div class="swiper-slide" style="background-image:url(images/thumbnail.png)"></div>
                                </div>
                            </div>
                            <div class="detail-note">
                                备注备注备注备注备注备注
                            </div>
                        </div>
                        <div class="detail-info">
                            <div class="detail-product-name">
                                25周年限量版官方职业拳击手套
                            </div>
                            <div class="detail-product-feature">
                                <span class="detail-product-feature-name">特征</span>
                                <ul class="detail-product-feature-list">
                                    <li>
                                        假字假字假字假字假字假字假字假字
                                    </li>
                                    <li>
                                        假字假字假字假字假字假字假字字假字假字
                                    </li>
                                    <li>
                                        假字假字假字假字假字假字
                                    </li>
                                    <li>
                                        假字假字假字假字假字假字假字假
                                    </li>
                                    <li>
                                        假
                                    </li>
                                </ul>
                            </div>
                            <div class="detail-product-feature">
                                <span class="detail-product-feature-name">颜色选择</span>
                                <div class="detail-product-color-select">
                                    <div class="detail-product-color">
                                        黑色
                                    </div>
                                    <div class="detail-product-color">
                                        红色
                                    </div>
                                    <div class="detail-product-color">
                                        白色
                                    </div>
                                    <div class="detail-product-color">
                                        蓝色
                                    </div>
                                </div>
                            </div>
                            <div class="detail-product-qrcode">
                                <div class="detail-product-qrcode-block">
                                    <img class="detail-product-qrcode-img" src="images/qrcode-jd.png" alt="京东">
                                    <div class="detail-product-qrcode-link">
                                        立即购买>
                                    </div>
                                </div>
                                <div class="detail-product-qrcode-block">
                                    <img class="detail-product-qrcode-img" src="images/qrcode-tmall.png" alt="天猫">
                                    <div class="detail-product-qrcode-link">
                                        立即购买>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
</body>

</html>