<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品详情</title>
    <link rel="stylesheet" href="<%=hdmain%>/css/swiper.min.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/common.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/detail.css">
    <script src="<%=hdmain%>/js/jquery-3.3.1.min.js"></script>
    <script src="<%=hdmain%>/js/swiper.min.js"></script>
    <script src="<%=hdmain%>/js/detail.js"></script>
</head>

<body>
    <%include header.html %>
        <div class="content clearfix" style="<%if(paramsid==2||paramsid==0){%>min-height:700px;<%}%><%if(paramsid==1){%>min-height:1000px;<%}%><%if(paramsid==3){%>min-height:1000px;<%}%>background-image:url(<%=hdmain%>/images/video-bg.png);background-position:center center;background-repeat:no-repeat;">
            <div class="detail-wrapper">
                <div class="detail-box">
                    <a class="detail-back" href="product.html">
                    &lt;&lt; 返回产品列表
                    </a>
                    <div class="detail-content">
                        <div class="detail-preview">
                            <div class="swiper-container detail-gallery-top">

                                <!-- No Arrows -->
                                <!-- <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div> -->
                            </div>
                            <div class="swiper-container detail-gallery-thumbs">

                            </div>
                            <div class="detail-note">

                            </div>
                        </div>
                        <div class="detail-info">
                            <div class="detail-product-name">

                            </div>
                            <div class="detail-product-feature">
                                <span class="detail-product-feature-name">产品细节</span>
                                <ul class="detail-product-feature-list">

                                </ul>
                            </div>
                            <div class="detail-product-qrcode">
                                <div class="detail-product-qrcode-block">
                                    <img class="detail-product-qrcode-img detail-product-qrcode-img-jd" src="<%=hdmain%>/images/qrcode-jd.png" alt="京东">
                                    <div class="detail-product-qrcode-link">
                                        立即购买>
                                    </div>
                                </div>
                                <div class="detail-product-qrcode-block">
                                    <img class="detail-product-qrcode-img detail-product-qrcode-img-tmall" src="<%=hdmain%>/images/qrcode-tmall.png" alt="天猫">
                                    <div class="detail-product-qrcode-link">
                                        立即购买>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
</body>

</html>