<div class="footer <%if(act==0){%> hei<%}%>">
    <div class="footer-content">
        <div class="footer-item">
            <div class="footer-item-title">官方微信</div>
            <div class="footer-item-content">
                <img class="footer-item-content-img" src="<%=hdmain%>/images/scan.png" />
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">商务合作</div>
            <div class="footer-item-content">XXXXXXXX</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">官方赛事/门户网站/BBS</div>
            <div class="footer-item-content">XXXXXXXX</div>
            <div class="footer-item-content">XXXXXXXX</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Q&A 疑问解答</div>
            <div class="footer-item-content" onclick='ggoLink("/qa/1")'>电商常见问题</div>
            <div class="footer-item-content" onclick='ggoLink("/qa/2")'>品牌认知</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title" onclick='ggoLink("/channel/1")'>购买渠道</div>
            <div class="footer-item-content">天猫旗舰店</div>
            <div class="footer-item-content">京东旗舰店</div>
        </div>
    </div>
</div>
<script src="<%=hdmain%>/js/url.min.js"></script>
<script src="<%=hdmain%>/js/common.js"></script>