<div class="footer">
    <div class="footer-content">
        <div class="footer-item">
            <div class="footer-item-title">官方微信</div>
            <div class="footer-item-content">
                <img class="footer-item-content-img" src="../images/scan.png" />
            </div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">商务合作</div>
            <div class="footer-item-content">XXXXXXXX</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">官方赛事/门户网站/BBS</div>
            <div class="footer-item-content">XXXXXXXX</div>
            <div class="footer-item-content">XXXXXXXX</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">Q&A 疑问解答</div>
            <div class="footer-item-content">XXXXXXXX</div>
            <div class="footer-item-content">XXXXXXXXXXXXXXXXXXX</div>
        </div>
        <div class="footer-item">
            <div class="footer-item-title">购买渠道</div>
            <div class="footer-item-content">XXXXXXXX</div>
            <div class="footer-item-content">XXXXXXXX</div>
        </div>
    </div>
    </d