<script>
    try {
        document.getElementsByTagName('body')[0].style.zoom = 0.7
    } catch (error) {

    }
</script>
<div class="header">
    <div class="header-wrapper">
        <a href="/">
            <img class="header-nav-logo" src="../images/ufc-logo.png" alt="logo">
        </a>
        <a href="/product" class="header-nav">
            <span class="header-nav-block"></span> UFC产品
            <div class="header-nav-menu">
                <div class="header-nav-menu-item">拳击手套</div>
                <div class="header-nav-menu-item">护具</div>
                <div class="header-nav-menu-item">健身器材</div>
                <div class="header-nav-menu-item">其他</div>
            </div>
        </a>
        <a href="/video" class="header-nav">
            <span class="header-nav-block"></span> UFC视频
            <div class="header-nav-menu">
                <div class="header-nav-menu-item">品牌宣传</div>
                <div class="header-nav-menu-item">教学视频</div>
                <div class="header-nav-menu-item">品牌故事</div>
            </div>
        </a>
        <a href="/know" class="header-nav">
            <span class="header-nav-block"></span> 认识UFC
            <div class="header-nav-menu">
                <div class="header-nav-menu-item">UFC名人</div>
                <div class="header-nav-menu-item">UFC故事</div>
                <div class="header-nav-menu-item">UFC赛事</div>
            </div>
        </a>
        <a href="/news" class="header-nav">
            <span class="header-nav-block"></span> 最新资讯
            <div class="header-nav-menu">
                <div class="header-nav-menu-item">最新活动</div>
                <div class="header-nav-menu-item">最新赛事</div>
                <div class="header-nav-menu-item">最新产品</div>
            </div>
        </a>
    </div>
</div>