<script>
    try {
        // document.getElementsByTagName('body')[0].style.zoom = 0.65
    } catch (error) {

    }
</script>
<div class="header">
    <div class="header-wrapper <%if(act==0){%> shouye<%}%>">
        <a href="/">
            <img class="header-nav-logo" src="<%=hdmain%>/images/ufc-logo.png" alt="logo">
        </a>
        <a href="/product/1" class="header-nav <%if(act==1){%> active<%}%>">
            <span class="header-nav-block"></span> UFC产品
            <div class="header-nav-menu">
                <div class="header-nav-menu-item" data-url="/product/1">拳套</div>
                <div class="header-nav-menu-item" data-url="/product/2">护具</div>
                <div class="header-nav-menu-item" data-url="/product/3">健身器材</div>
                <div class="header-nav-menu-item" data-url="/product/4">其他</div>
            </div>
        </a>
        <a href="/video/1" class="header-nav <%if(act==2){%> active<%}%>">
            <span class="header-nav-block"></span> UFC视频
            <div class="header-nav-menu">
                <div class="header-nav-menu-item" data-url="/video/1">品牌宣传</div>
                <div class="header-nav-menu-item" data-url="/video/2">教学视频</div>
                <div class="header-nav-menu-item" data-url="/video/3">品牌故事</div>
            </div>
        </a>
        <a href="/know/1" class="header-nav <%if(act==3){%> active<%}%>">
            <span class="header-nav-block"></span> 认识UFC
            <div class="header-nav-menu">
                <div class="header-nav-menu-item" data-url="/know/2">UFC故事</div>
                <div class="header-nav-menu-item" data-url="/know/1">UFC名人</div>
                <div class="header-nav-menu-item" data-url="/know/3">UFC赛事</div>
            </div>
        </a>
        <a href="/news/1" class="header-nav  <%if(act==4){%> active<%}%>">
            <span class="header-nav-block"></span> 最新资讯
            <div class="header-nav-menu">
                <div class="header-nav-menu-item" data-url="/news/1">最新活动</div>
                <div class="header-nav-menu-item" data-url="/news/2">最新赛事</div>
                <div class="header-nav-menu-item" data-url="/news/3">最新产品</div>
            </div>
        </a>
    </div>
</div>