<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=data['title'][0]%>
    </title>
    <link rel="stylesheet" href="<%=hdmain%>/css/common.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/index.css">
    <script src="<%=hdmain%>/js/jquery.min.js"></script>
    <script src="<%=hdmain%>/js/cyberplayer.js"></script>
</head>

<body>
    <%include header.html %>
        <div class="content" style="margin-top:78px;"></div>
            <div class="content-top">
            </div>
            <div class="content-video">
                <div id="dvplay"></div>
                <!-- <video name="videoElement" id="videoElement" autoplay="autoplay" loop="loop"  src="<%=hdmain%>/media/index.mp4"></video>-->
            </div>
            <div class="content-preview">
                <div class="content-preview-x">
                    <div class="content-preview-wrapper" onclick='goLinkk("/product/2")'>
                        <img class="content-preview-background-img ti1" src="<%=hdmain%>/images/huju.png" />

                        <span class="content-preview-transform-revert1">
                                护具
                            </span>

                    </div>
                    <div class="content-preview-wrapper" onclick='goLinkk("/product/1")'>
                        <img class="content-preview-background-img ti2" src="<%=hdmain%>/images/quanji.png" />

                        <span class="content-preview-transform-revert2">
                                拳套
                            </span>

                    </div>
                    <div class="content-preview-wrapper" onclick='goLinkk("/product/3")'>
                        <img class="content-preview-background-img ti3" src="<%=hdmain%>/images/jianshen.png" />

                        <span class="content-preview-transform-revert3">
                                健身器材
                            </span>
                    </div>
                </div>
            </div>
            <div class="content-pics clearfix">
                <div class="content-pics-wrapper">
                    <div class="pic1-x" onclick='goLinkk("/pdetail/8?pid=1")'><img src="<%=hdmain%>/images/1.png" /></div>
                    <div class="pic2-x" onclick='goLinkk("/pdetail/1?pid=1")'><img src="<%=hdmain%>/images/2.png" /></div>
                    <div class="pic3-x" onclick='goLinkk("/pdetail/4?pid=1")'><img src="<%=hdmain%>/images/3.png" /></div>
                    <div class="pic4-x" onclick='goLinkk("/pdetail/3?pid=1")'><img src="<%=hdmain%>/images/4.png" /></div>
                    <div class="pic5-x" onclick='goLinkk("/pdetail/10?pid=2")'><img src="<%=hdmain%>/images/5.png" /></div>
                    <!-- <img class="content-pic-1" src=".<%=hdmain%>/images/index-pic-1.jpg" alt="">
                    <img class="content-pic-2" src="<%=hdmain%>/images/index-pic-2.jpg" alt="">
                    <img class="content-pic-3" src="<%=hdmain%>/images/index-pic-3.jpg" alt="">
                    <img class="content-pic-4" src="<%=hdmain%>/images/index-pic-4.jpg" alt="">
                    <img class="content-pic-5" src="<%=hdmain%>/images/index-pic-5.jpg" alt="">
                    <img class="content-pic-6" src="<%=hdmain%>/images/index-pic-6.jpg" alt=""> -->
                </div>
            </div>
        </div>
        <%include footer.html %>
            <script>
                // var flvv = "<%=hdmain%>/images/flv.flv";
                var flvv = "http://120.27.141.218:9269/ufc-data/media/index.flv";
                var cwidth = ($(window).width() * 4) / 3;
                var cHeight = 712 * cwidth / 1265;

                var player = cyberplayer("dvplay").setup({
                    flashplayer: "<%=hdmain%>/js/cyberplayer.flash.swf",
                    stretching: "uniform",
                    file: flvv,
                    width: cwidth,
                    height: cHeight,
                    autostart: true,
                    repeat: true,
                    volume: 60,
                    controls: false,
                    controlbar: {
                        barLogo: false
                    },
                    ak: "e58942f3dd794e9da0ffe70d82353429"
                });
                var height = player.getHeight();
                console.log(height);
            </script>
            <script src="<%=hdmain%>/js/index.js"></script>
</body>

</html>