<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=data['title'][paramsid]%>
    </title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/video.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <%include header.html %>
        <div class="content">
            <div class="video-wrapper">
                <div class="video-box">
                    <div class="video-content">
                        <div class="video-content-title">
                            <span class="video-title">产品宣传</span>
                            <span class="video-note">周年纪念款 | 新品</span>
                        </div>
                        <div class="video-preview" style="background-image:url(images/video-bg.png);background-size: 100% 100%">

                            <div class="news-content">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
            <script type="text/javascript" src="../js/news.js"></script>
</body>

</html>