<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>product</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/product.css">
    <script src="../js/jquery.min.js"></script>
</head>

<body>
    <%include header.html %>
        <div class="content">
            <div class="product-content">
                <div class="left">
                    <div class="product-nav">
                        <div class="product-nav-title">拳击手套</div>
                        <div class="product-nav-content">25周年纪念款主推产品</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title">护具</div>
                        <div class="product-nav-content">沙袋</div>
                        <div class="product-nav-content">绷带</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title">健身器材</div>
                        <div class="product-nav-content">健身器材</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title">其他</div>
                        <div class="product-nav-content">其他</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="product-title">拳击手套</div>
                    <div class="product-box">
                        <div class="product-item">
                            <img class="product-item-img" src="images/product.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product1.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product2.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product3.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product2.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product1.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                        <div class="product-item">
                            <img class="product-item-img" src="images/product3.png" />
                            <div class="product-item-intro">假字假字假字假字假字假字假字假字</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
            <script src="js/product.js"></script>
</body>

</html>