<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=data['title'][paramsid]%>
    </title>
    <link rel="stylesheet" href="<%=hdmain%>/css/common.css">
    <link rel="stylesheet" href="<%=hdmain%>/css/product.css">
    <script src="<%=hdmain%>/js/jquery.min.js"></script>
</head>

<body>
    <%include header.html %>
        <div class="content" style="min-height:700px;<%if(paramsid==2||paramsid==0){%>min-height:700px;<%}%><%if(paramsid==1){%>min-height:1000px;<%}%><%if(paramsid==3){%>min-height:1000px;<%}%>background-image:url(<%=hdmain%>/images/video-bg.png);background-position:center center;background-repeat:no-repeat;">
            <div class="product-content">
                <div class="left">
                    <div class="product-nav">
                        <div class="product-nav-title" data-id="1" file-name="UFC-Product-Gloves.json">拳套</div>
                        <div class="product-nav-content" data-id="5" file-name="UFC-Product-Gloves-25th.json">25周年纪念款</div>
                        <div class="product-nav-content" data-id="6" file-name="UFC-Product-Gloves-Main.json">主推产品</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title" data-id="2" file-name="UFC-Product-Protective.json">护具</div>
                        <div class="product-nav-content" data-id="7" file-name="UFC-Product-Protective-Sandbags.json">沙袋</div>
                        <div class="product-nav-content" data-id="8" file-name="UFC-Product-Protective-Bandage.json">绷带</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title" data-id="3" file-name="UFC-Product-Equipment.json">健身器材</div>
                        <div class="product-nav-content" data-id="3" file-name="UFC-Product-Equipment.json">健身器材</div>
                    </div>
                    <div class="product-nav">
                        <div class="product-nav-title" data-id="4" file-name="UFC-Product-Other.json">其他</div>
                        <div class="product-nav-content">其他</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="product-title"></div>
                    <div class="product-box">
                    </div>
                </div>
            </div>
        </div>
        <%include footer.html %>
            <script src="<%=hdmain%>/js/product.js"></script>
</body>

</html>