html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ufcfont;
    src: url('./o.ttf'), url('./o.eot');
    /* IE9+ */
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Microsoft YaHei";
    overflow-x: hidden;
    /* font-family: ufcfont; */
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.header {
    position: fixed;
    width: 100%;
    height: 157px;
    /* background: url('../images/top-bg.png') repeat-x; */
    background: #fff;
    z-index: 1000;
    top: -10px
}

.header-wrapper {
    height: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-wrapper.shouye {}

.header-nav-logo {
    margin-right: 25px;
    /* margin-bottom: 22px; */
}

.header-nav {
    font-size: 17px;
    position: relative;
    margin-left: 105px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: -10px;
}

.header-nav:hover,
.header-nav.active {
    color: red;
}

.header-nav-block {
    position: absolute;
    top: 4px;
    left: -18px;
    width: 7px;
    height: 19px;
    background: red;
    transform: skewX(-18deg);
}

.header-nav-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    left: 0;
    background: rgba(255, 255, 255, 0.65);
    border-top: 3px solid red;
    font-size: 20px;
    color: black;
    width: 180px;
    left: -30px;
    top: 50px;
}

.header-nav-menu.act {
    display: block;
}

.header-nav-menu-item {
    padding: 5px 10px;
}

.header-nav-menu-item:hover {
    color: red;
}

.content {
    min-height: calc(100vh - 476px);
    margin-top: 180px;
    margin-bottom: 90px;
}

.footer {
    height: 344px;
    background-color: #333;
    width: 100%;
}

.hei {
    /* background-color: #000; */
    background: none !important;
    height: auto;
    width: 1080px !important;
    margin: 10px auto;
}

.footer-content {
    width: 1130px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    margin: 20px auto;
}

.footer-item-title {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 15px;
    font-size: 13px;
}

.footer-item-content-img {
    width: 100px;
    height: 100px;
}

.footer-item-content {
    font-size: 12px;
    cursor: pointer;
}

.content-pics-wrapper img:hover {
    transform: scale(1.1);
    transition: all 0.6s;
}

.fanhui {
    text-align: right;
    line-height: 50px;
    color: #242424;
    display: block;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    margin-right: 120px;
}

.header-nav-menu-item {
    font-size: 14px;
}