html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.header {
    position: fixed;
    width: 100%;
    height: 157px;
    background: url('../images/top-bg.png') repeat-x;
    z-index: 1000;
    top: -10px
}

.header-wrapper {
    height: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-nav-logo {
    margin-right: 25px;
}

.header-nav {
    font-size: 24px;
    position: relative;
    margin-left: 105px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: -10px;
}

.header-nav:hover,
.header-nav.active {
    color: red;
}

.header-nav-block {
    position: absolute;
    top: 4px;
    left: -28px;
    width: 5px;
    height: 24px;
    background: red;
    transform: skewX(-10deg);
}

.header-nav-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    left: 0;
    background: rgba(255, 255, 255, 0.65);
    border-top: 3px solid red;
    font-size: 20px;
    color: black;
    width: 180px;
    left: -30px;
    top: 50px;
}

.header-nav-menu.act {
    display: block;
}

.header-nav-menu-item {
    padding: 5px 10px;
}

.header-nav-menu-item:hover {
    color: red;
}

.content {
    min-height: calc(100vh - 476px);
    margin-top: 180px;
    margin-bottom: 90px;
}

.footer {
    height: 344px;
    background-color: #333;
}

.hei {
    background-color: #000;
}

.footer-content {
    width: 1130px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    margin: 20px auto;
}

.footer-item-title {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
    margin-bottom: 15px;
}

.footer-item-content-img {
    width: 139px;
    height: 139px;
}

.footer-item-content {
    font-size: 14px;
}

.content-pics-wrapper img:hover {
    transform: scale(1.1);
    transition: all 0.6s;
}