.detail-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-back {
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 46px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.detail-content {
    display: flex;
}

.detail-preview {
    flex: 1;
    padding-right: 39px;
}

.detail-info {
    flex: 1;
    padding-left: 39px;
}

.detail-gallery-top {
    width: 529px;
    height: 530px;
    border: solid 1px #000;
    background: #f4f4f4
}

.detail-gallery-thumbs {
    margin: 16px auto;
    width: 529px;
    height: 110px;
}

.detail-gallery-thumbs .swiper-slide {
    width: 120px !important;
}

.detail-gallery-top .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
}

.detail-gallery-thumbs .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #666;
}

.detail-gallery-thumbs .swiper-slide-thumb-active {
    background-color: white;
    border: 1px solid #000;
}

.detail-note {
    font-size: 18px;
}

.detail-product-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 35px;
}

.detail-product-feature {
    margin-bottom: 60px;
}

.detail-product-feature-name {
    display: block;
    font-size: 18px;
    line-height: 42px;
    border-bottom: solid 1px black;
    margin-bottom: 16px;
}

.detail-product-feature-list {
    padding-left: 20px;
}

.detail-product-feature-list li {
    position: relative;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
}

.detail-product-feature-list li:before {
    content: '.';
    position: absolute;
    top: -5px;
    left: -10px;
}

.detail-product-color-select {
    display: flex;
    justify-content: space-between;
}

.detail-product-color {
    width: 91px;
    height: 40px;
    box-sizing: border-box;
    /*border: solid 1px rgba(0, 0, 0, 0.6);*/
    border-right: 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}


/*.detail-product-color:last-child {
    border-right: solid 1px rgba(0, 0, 0, 0.6);
}*/

.detail-product-qrcode {
    display: flex;
    /*   position: absolute; */
}

.detail-product-qrcode-block {
    margin-right: 30px;
}

.detail-product-qrcode-img {
    width: 151px;
    height: 161px;
}

.detail-product-qrcode-link {
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    color: white;
    background-color: #d20a0a;
    text-align: center;
    cursor: pointer;
}