.content {
    margin-top: 122px;
    margin-bottom: 0;
    width: 100%;
}

.content-top {
    height: 130px;
    width: 100%;
    background: url("../images/index-bg-top.jpg") no-repeat;
    margin: 0 auto;
    /* background-size: contain; */
}

.content-video {
    width: 100%;
    height: auto;
}

.content-video video {
    width: 100%;
    height: auto;
    object-fit: fill;
    background: #000;
}

.content-preview {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 180px 0 80px;
    height: 800px;
    box-sizing: border-box;
    width: 100%;
    margin-top: -6px;
}

.content-preview:before {
    content: ' ';
    position: absolute;
    display: block;
    height: 1600px;
    width: 100%;
    left: 0;
    top: 0;
    background: url(../images/index-bg-bottom.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
}

.content-preview-background-img {
    width: auto;
    height: auto;
}

.content-preview-wrapper {
    position: absolute;
    top: 0;
    left: 400px;
    padding: 6px;
    /* margin: 0 30px; */
    box-sizing: border-box;
    /* transform: skewX(-10deg); */
    /* -webkit-backface-visibility: hidden;
    overflow: hidden; */
    width: 360px;
    height: 434px;
    align-self: flex-start;
    cursor: pointer;
    float: left;
}

.content-preview-wrapper:first-child,
.content-preview-wrapper:last-child {
    /* align-self: flex-end;
    transform: skewX(-10deg) scale(0.9); */
}

.content-preview-wrapper:first-child {
    /* margin-right: 20px; */
    left: 100px;
}

.content-preview-wrapper:last-child {
    /* margin-left: -20px; */
    left: 650px;
}

.content-preview-block {
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 3px solrgb(48, 38, 38)red; */
    box-sizing: border-box;
    z-index: 1;
}

.content-preview-background-img {
    position: absolute;
    left: -5px;
    top: 0;
    width: auto;
    height: auto;
    z-index: -1;
    width: 360px;
    height: 366px;
    cursor: pointer;
}

.content-preview-background-img.ti1 {
    top: 87px;
}

.content-preview-background-img.ti2 {
    top: 0;
}

.content-preview-background-img.ti3 {
    top: 87px;
}

.content-preview-text {
    font-size: 22px;
    color: white;
    /* background: red; */
    padding: 3px 12px;
    position: absolute;
    bottom: 0;
    transform: skewX(-10deg);
    left: 28px;
}

.content-preview-transform-revert {
    display: inline-block;
    transform: skewX(-10deg);
}

.content-pics {
    text-align: center;
    padding: 45px 0 0 0;
    /* background: rgba(0, 0, 0, 0.6); */
}

.content-pics-wrapper {
    display: block;
    clear: both;
    width: 1080px;
    margin: 0 auto;
    position: relative;
    background: none;
    border-bottom: 6px solid #d6162a;
    height: 440px;
}

.content-pic-1 {
    float: left;
    width: 359px;
    height: 178px;
    padding: 0 5px 5px 0;
    background: white;
}

.content-pic-2 {
    float: left;
    width: 353px;
    height: 236px;
    padding: 0 5px 5px 0;
    background: white;
}

.content-pic-3 {
    float: left;
    width: 368px;
    height: 236px;
    padding: 0 0 5px 0;
    background: white;
}

.content-pic-4 {
    float: left;
    width: 359px;
    height: 247px;
    position: relative;
    top: -59px;
    border-bottom: 7px solid #d11f2e;
    padding: 0 5px 0 0;
    background: white;
}

.content-pic-5 {
    float: left;
    width: 232px;
    height: 188px;
    border-bottom: 7px solid #d11f2e;
    padding: 0 5px 0 0;
    background: white;
}

.content-pic-6 {
    float: left;
    width: 488px;
    height: 188px;
    border-bottom: 7px solid #d11f2e;
}

.pic1-x {
    position: absolute;
    top: 8px;
    left: 0;
    width: 360px;
    height: 213px;
    cursor: pointer;
}

.pic1-x img {
    width: 360px;
    height: 213px;
}

.pic2-x {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 211px;
    cursor: pointer;
}


/* 358 × 179 */

.pic2-x img {
    width: 360px;
    height: 211px;
}

.pic3-x {
    position: absolute;
    top: 8px;
    left: 364px;
    width: 360px;
    height: 179px;
    cursor: pointer;
}

.pic3-x img {
    width: 360px;
    height: 179px
}


/* 358 × 251 */

.pic4-x {
    position: absolute;
    bottom: 0;
    left: 364px;
    width: 360px;
    height: 247px;
    cursor: pointer;
}

.pic4-x img {
    width: 360px;
    height: 247px;
}


/* 357 × 430 */

.pic5-x {
    position: absolute;
    top: 8px;
    right: 0;
    width: 353px;
    height: 430px;
    cursor: pointer;
}

.pic5-x img {
    width: 353px;
    height: 430px
}

.content-preview-wrapper span {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 55px;
    color: #fff;
    transform: skewX(-10deg);
    font-size: 18px
}

span.content-preview-transform-revert2 {
    display: block;
    position: absolute;
    bottom: 95px;
    left: 55px;
    color: #fff;
    transform: skewX(-10deg);
}

span.content-preview-transform-revert3 {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 35px;
    color: #fff;
    transform: skewX(-10deg);
}

.content-preview-wrapper:hover {
    transform: scale(1.1);
    transition: all 0.6s;
}

.content-preview-x {
    width: 1130px;
    margin: 0 auto;
    position: relative;
}

#dvplay {
    width: 100%;
    height: auto;
    background: url(../images/index-bg-bottom.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
}