.product-content {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.left {
  width: 165px;
}

.product-nav {
  margin-bottom: 20px
}

.product-nav-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}

.product-nav-content {
  font-size: 14px;
}

.product-nav-title:hover,
.product-nav-content:hover {
  cursor: pointer;
}

.middle {
  flex: 1;
  margin-left: 30px;
}

.product-title {
  font-size: 29px;
  margin-left: 30px;
}

.product-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-item {
  width: 249px;
  height: 300px;
  margin: 30px;
  text-align: center;
}

.product-item-img {
  width: 230px;
  height: 230px;
  margin-bottom: 10px;
}

.product-item-intro {
  width: 220px;
  margin: 0 auto;
}